<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DriverApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>AntDesign.ttf 07-55-07-673.ttf</string>
		<string>AntDesign.ttf 08-23-29-584.ttf</string>
		<string>Entypo.ttf</string>
		<string>Entypo.ttf 07-55-07-685.ttf</string>
		<string>Entypo.ttf 08-23-29-632.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>EvilIcons.ttf 07-55-07-680.ttf</string>
		<string>EvilIcons.ttf 08-23-29-595.ttf</string>
		<string>Feather.ttf</string>
		<string>Feather.ttf 07-55-07-685.ttf</string>
		<string>Feather.ttf 08-23-29-632.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome.ttf 07-55-07-684.ttf</string>
		<string>FontAwesome.ttf 08-23-29-628.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Brands.ttf 07-55-07-681.ttf</string>
		<string>FontAwesome5_Brands.ttf 08-23-29-618.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Regular.ttf 07-55-07-677.ttf</string>
		<string>FontAwesome5_Regular.ttf 08-23-29-591.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Solid.ttf 07-55-07-683.ttf</string>
		<string>FontAwesome5_Solid.ttf 08-23-29-622.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Brands.ttf 07-55-07-683.ttf</string>
		<string>FontAwesome6_Brands.ttf 08-23-29-624.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Regular.ttf 07-55-07-679.ttf</string>
		<string>FontAwesome6_Regular.ttf 08-23-29-594.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>FontAwesome6_Solid.ttf 07-55-07-684.ttf</string>
		<string>FontAwesome6_Solid.ttf 08-23-29-631.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Fontisto.ttf 07-55-07-678.ttf</string>
		<string>Fontisto.ttf 08-23-29-592.ttf</string>
		<string>Foundation.ttf</string>
		<string>Foundation.ttf 07-55-07-682.ttf</string>
		<string>Foundation.ttf 08-23-29-621.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Ionicons.ttf 07-55-07-681.ttf</string>
		<string>Ionicons.ttf 08-23-29-617.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf 07-55-07-686.ttf</string>
		<string>MaterialCommunityIcons.ttf 08-23-29-633.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialIcons.ttf 07-55-07-681.ttf</string>
		<string>MaterialIcons.ttf 08-23-29-615.ttf</string>
		<string>Octicons.ttf</string>
		<string>Octicons.ttf 07-55-07-678.ttf</string>
		<string>Octicons.ttf 08-23-29-592.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>SimpleLineIcons.ttf 07-55-07-680.ttf</string>
		<string>SimpleLineIcons.ttf 08-23-29-594.ttf</string>
		<string>Zocial.ttf</string>
		<string>Zocial.ttf 07-55-07-679.ttf</string>
		<string>Zocial.ttf 08-23-29-593.ttf</string>
	</array>
</dict>
</plist>
